{
    "extends": "eslint-config-smarthead",
    "parser": "babel-eslint",
    "globals": {
        "APP_CONFIG": false
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.common.babel.js"
            }
        }
    }
}
